body {
	background-color: #EEEEEE;
}

.pagina-atual {
    margin-left: 125px;
	border-left: 1px solid rgba(255,255,255,0.8);
    padding-left: 24px;
    line-height: 32px;
    font-weight: bold;
}

.pagina-atual-mobile {
    margin-right: 10%;
    font-weight: bold;
}

.navbar-img a {
	height: 50px;
}

.profile {
    background-image: url('../images/dev2.png');
    width: 100%;
    height: 140px;
}

.img-profile {
    width: 90px;
    margin-left: 70px;
    margin-top: 5px;
}

.cor-default{
    background-color: #4285f4;
}

.color-danger{
    color: #C62828;
}

.color-blank{
    background-color: #ffffff;
}

.color-success{
    color: #0f9d58;
}

/*Scroll Bar*/

/* Largura e altura  da barra de rolagem do Chorme*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #4285f4;
    border-radius: 10px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #424242;
}
